@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>BRIGHT MINDS RECRUITERS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        h3 {
            margin-bottom: 20px;
            color: brown;
            text-decoration: underline;
        }
    </style>
</head>


<body>
    <div class="text-center">
        <div class="banner_caption">
            <div class="heading">
                <h3><em>BUILD YOUR CAREER HERE</em></h3>
            </div>
            <div class="container">
                <img src="./Images/WebsiteMainImage.jpg" class="img-rounded" alt="MainWebPage">
            </div>
            <p><em><strong>BRIGHT MINDS</strong> was founded on the disruptive idea that every business should have access to an affordable human resource manager and every business can run like a Fortune 500 company.</em></p>

        </div>
    </div>
    <hr />
    <div class="container-fluid text-center">
        <h2 style="color:brown;"><em><u>SERVICES</u></em></h2>
        <h3 style="margin-bottom:30px"><em>What we offer</em></h3>

        <div class="row">
            <div class="col-sm-4">
                <h4>RESUME SHAPING</h4>
                <p>We help you to make a competitive resume that is eventually going to help you in fetching your dream job.</p>
            </div>
            <div class="col-sm-4">
                <h4>CAREER COACHING</h4>
                <p>One to One session is available for each individual to bring the best out of you</p>
            </div>
            <div class="col-sm-4">
                <h4>MOCK INTERVIEWS</h4>
                <p>We provide mock interviews for everyone to make them stand out of all the job applicants</p>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-4">
                <h4>PORTFOLIO MANAGEMENT</h4>
                <p>We manage your overall profile including resume, cover letters, certifications etc.</p>
            </div>
            <div class="col-sm-4">
                <h4>CERTIFCATIONS</h4>
                <p>We provide various certifications including Data Analytics, Data Science, ERP etc. to make your profile unique</p>
            </div>
            <div class="col-sm-4">
                <h4>RECRUITER REACH</h4>
                <p>We share and prioritize your profile among a lot of recruiters to make your job search easy</p>
            </div>
        </div>
        <hr />
        <div class="heading">
            <h3><em>INDUSTRIES WE SPECIALIZES IN</em></h3>
        </div>
        <table width="80%" align="center">
            <tr>
                <td>
                    <h5>INFORMATION TECHNOLOGY</h5>
                    <ul>
                        <li>Wipro</li>
                        <li>Cognizant</li>
                        <li>Amazon</li>
                        <li>Adobe</li>
                    </ul>
                </td>
                <td>
                    <h5>CONSULTING</h5>
                    <ul>
                        <li>McKinsey & Company</li>
                        <li>Boston Consulting Group</li>
                        <li>Bain & Company</li>
                        <li>Monitor Deloitte</li>
                    </ul>
                </td>

                <td>
                    <h5>FINANCE</h5>
                    <ul>
                        <li>Fifth Third Bank</li>
                        <li>American Financial Group</li>
                        <li>American Mortgage</li>
                        <li>Fort Washington Investment Advisors</li>
                    </ul>
                </td>
            </tr>
        </table>
        <hr />
        <div class="heading">
            <h3><em>TESTIMONIALS</em></h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./Images/Joe_Photo.jpg" alt="Image Joe" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Joe Brook</h5>
                            <p class="card-text">I like the way Bright Mind handles your career and help you excel in your journey. It was overall a great experience.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./Images/Julie_Photo.jpg" alt="Image Julie" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Julie Richards</h5>
                            <p class="card-text">I like the way Bright Mind handles your career and help you excel in your journey. I would suggest this company to all of you.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./Images/Rachel-Chambers.png" alt="Image Rachel" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Rachel Green</h5>
                            <p class="card-text">They made my journey so easier. Go ahead with them without second thoughts. Best of Luck.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="heading">
            <h3><em>--- HOW TO APPLY ----</em></h3>
        </div>
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th style="text-align:center;">Steps to Follow</th>
                    <th style="text-align:center;">Where to Do</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Fill an Online Application</td>
                    <td>Online Portal</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Choose the Required Services</td>
                    <td>Services Section</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Make the Payment</td>
                    <td>Payment Section</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Our Representative Will Contact You</td>
                    <td>Email or Phone</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Guide Through The Whole Process</td>
                    <td>Zoom Meetings</td>
                </tr>
            </thead>
        </table>
        <hr />
        <div class="heading">
            <h3><em>CONTACT US</em></h3>
        </div>
        <div class="jumbotron-fluid" style="margin-bottom:80px;">
            4521 McMillan Street<br />
            Cincinnati, Ohio<br />
            United States<br />
            Phone: +1-(513)-878-8907
        </div>        
    </div>
    
</body>

</html>