@page
@model RecruitCatJain2a7.Pages.OurTeamModel
@{

}

<html>
<head>
    <title>Our Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        h3 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
            color: brown;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h3><em>TEAM OF CHAMPIONS</em></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./Images/Abhishek_Photo.jpg" alt="Abhishek Jain" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ABHISHEK JAIN</h5>
                        <h6>CEO, CTO, Founder</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./Images/Lily Ardrin.jpg" alt="Lily Ardrin" height="200">
                    <div class="card-body">
                        <h5 class="card-title">LILY ARDRIN</h5>
                        <h6>Software QA Analyst</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./Images/Marshall Erikson.jpg" alt="Marshall Erikson" height="200">
                    <div class="card-body">
                        <h5 class="card-title">MARSHALL ERIKSON</h5>
                        <h6>Content Writer</h6>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-bottom:100px;">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./Images/Robin Scherbatsky.jpeg" alt="Robin Scherbatsky" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ROBIN SCHERBATSKY</h5>
                        <h6>Career Consultant</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./Images/Viktoria.jpg" alt="Viktoria" height="200">
                    <div class="card-body">
                        <h5 class="card-title">VIKTORIA</h5>
                        <h6>Recruitment Consultant</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./Images/Barney Stinson.jpg" alt="Barney Stinson" height="200">
                    <div class="card-body">
                        <h5 class="card-title">BARNEY STINSON</h5>
                        <h6>Software Engineer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>